.dashboard-container {
  min-height: 100%;
}

.dashboard-container .ant-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dashboard-statistic {
  text-align: center;
}
